--- 
--- 

$dunkelblau: #002646;
$grau: #BFC0C0;
$orange: #FF805F;
$graublau: #4F5D75;
$gruen: #6dbda5;

/*Default*/
body {
    font-family: Arial, Helvetica, sans-serif;
}

.site {
    display:flex;
    min-height: 100vh;
    flex-direction:column;
}

.site-content {
    flex: 1;
}

a {
    text-decoration: none;
}

.logolink {
    display: flex;
    justify-content: center;

}

.logo-bild {
    width: 30%;
    min-width: 250px;
    height: 30%;
}

.menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu {
    display: flex;
}

a.men-el {
    color: black;
    margin: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

a.men-el:hover {
    color: $orange;
}

a.men-el:active {
    color: $orange;
}

.index-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.vorschaukachel {
    display: flex; 
    width: 200px;
    margin: 5px;
}

section {
    display: flex;
    justify-content: center;
    margin: 50px;
    text-align: center;
}

/* Footer */

.sm-logo {
    width: 25px;
    margin-right: 10px;
}

a.social {
    display:flex;
    align-items: center;
    color: white;
    margin: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

a.social:hover {
    color: $grau;
}

a.social:active {
    color: $grau;
}

.footer {
    display: flex;
    align-self: flex-end;
}

.foot {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $graublau;
    height: 200px;
    color: white;
}

/* Pages */
.page {
    width: 500px;
}

/* Posts */

.post-images {
    display: flex;
    justify-content: center;
}

.comic-seite {
    display: block;
    min-width: 300px;
    max-width: 600px;
    width: auto;
    height: auto;
    margin: 5px;
}