--- 
--- 

$dunkelblau: #002646;
$grau: #BFC0C0;
$orange: #FF805F;
$graublau: #4F5D75;

body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.headerbild {
    display: flex;
    justify-content: center;

}

.menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.logo-head {
    display: flex;
    width: 40%; 
}

.menu {
    display: flex;
}

a.men-el {
    color: black;
    margin: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

a.men-el:hover {
    color: $orange;
}

a.men-el:active {
    color: $orange;
}

.index-content {
    display: flex;
    flex-wrap: wrap;
}
.vorschaukachel {
    display: flex;    
    width: 200px;
    margin: 5px;
}

section {
    display: flex;
    justify-content: center;
    margin: 50px;
    text-align: center;
}

footer {
    display: flex;
    justify-content: space-between;
}

.foot {
    border: 1px solid;
    height: 200px;
    flex: 1;
}

.comic-seite {
    width: 700px;
}